*
{
    margin: 0;
    padding: 0;
    background-color: rgb(30, 29, 29);
    overflow-x: hidden;
    overflow-y: hidden;
}
.mainbox
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apibox
{
    width: 280px;
    height: 360px;
    background-color: rgb(249, 239, 239);
    border-radius: 10px;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
.apibox:hover
{
    /* background-color: green; */
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 25), -5px -5px 30px 15px rgba(0, 0, 0, 25);
    scale: 1.1;
}
.box
{    width: 280px;
    height: 200px;
    background-color: rgb(249, 245, 245);
    border-radius: 10px;
    /* transition: all 0.5s linear; */
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;

}
.box1{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    margin-top: 20px;

}
.child1
{
   background-color: transparent;
   margin-right: 10px;
   font-family: 'Anton', sans-serif;
   font-size: 14px;
   
}
.child
{
   background-color: transparent;
   /* margin-left: 10px; */
   font-family: 'Anton', sans-serif;
   font-size: 14px;
   
}
#logo
{
   font-size: 100px;
   /* background-color: transparent; */
}
.fa-solid
{
    background-color: rgb(249, 239, 239);
}
#input
{
    background-color: transparent;
    max-width: 200px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 30px;
    padding-left: 10px;
    background-color: white;
    margin-left: 10px;
}
.button
{
    padding: 8px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: all 0.5s linear;
}
.button:hover
{
    scale: 1.1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 25), -1px -1px 1px 1px rgba(0, 0, 0, 25);
    border: white solid 1px;
}
.child3
{
    background-color: rgb(249, 239, 239);
   font-family: 'Anton', sans-serif;
   font-size: 14px;
   text-align: center;
   margin-top: 0px;
   padding-top: 10px;

}
sup
{
    background-color: rgb(249, 239, 239);
}